h1{
    color: blue;
    text-align: center;
    font-size: 18px;
}
h2{
    
        text-align: left;
        background-color: yellow;
    }
p{text-align: center;
    color: green;
}

ul li{
    color: green;
}
pre{
    background-color:grey;
}