header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 05px 20px 5px 20px;  
}
nav ul li{
    display: inline;
    margin-right: 15px;
    
}
a{
    color: white;
    text-decoration: none;
}
main{
    margin: 15px;
    background-color: #f4f4f4;
    padding: 20px;
}
aside{
    background-color: #e9ecef;
    padding: 15px;
    border-left:5px solid #444 ;
}
footer{
    padding: 1px;
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
